{% extends "base.html" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/search.css">
{% endblock %}

{% block main %}
    {% if authorized %}
        <div class="search">
            <div class="search-icon"></div>
            <input type="text" placeholder="u wot m8">
            <div class="search-icon"></div>
            <ul></ul>
        </div>
        <div class="no-image"></div>
        <div class="no-text">You didn't add anything yet. You're a bad person and you should be ashamed! When you decide to add something to the list, send it to your friends for them to laugh at how much of a pleb you are, just tell them your username.</div>
    {% else %}
        <div class="no-auth-text"></div>
        <div class="no-auth-image"></div>
    {% endif %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/js/search.js"></script>
{% endblock %}
